APPLICATION_VERSION=1.0.0
# The absolute or relative path to the file containing the Google OAuth Client Secrets
GOOGLE_OAUTH_CLIENT_FILE=
# Is the application in developer mode or production mode. In developer mode, the application will
# print more debugs and will have auto reload enabled on file change.
PRODUCTION=False
STORAGE_SAS_URL=
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=