APPLICATION_VERSION=1.0.0
# The absolute or relative path to the file containing the Google OAuth Client Secrets
GOOGLE_OAUTH_CLIENT_FILE=./client_secrets.json
# Json Web Token (JWT) Encryption Secret. Tip: Use generate_jwt_secret.py to generate this file.
JWT_ENCRYPTION_SECRET_FILE=
# Is the application in developer mode or production mode. In developer mode, the application will
# print more debugs and will have auto reload enabled on file change.
PRODUCTION=False
# Name of the Azure storage account where the container is
AZURE_STORAGE_ACCOUNT_NAME=
# Name of the container
AZURE_CONTAINER_NAME=
# The directory where to cache Azure Blobs (for cost & performance)
TEMP_FILES_DIR=cache
# Client ID of the Azure Account Principal
AZURE_CLIENT_ID=
# Tenant ID of the Azure Account Principal
AZURE_TENANT_ID=
# Client Secret (password) of the Azure Account Principal
AZURE_CLIENT_SECRET=
PROMPT_FLOW_BASE_URL=
PROMPT_FLOW_API_KEY=
# A special environment-set authentication token you can use in the authorization
# token header that never expires and is global to the entire application.
ENV_TEST_API_KEY=
# Environment variables for the LLM API to use (e.g. gpt-4o-mini)
AZURE_LLM_DEPLOYMENT_URL=  # URL should look like this: https://{your_project}.openai.azure.com/openai/deployments/{deployment_model}/chat/completions?api-version={api_version}
AZURE_LLM_DEPLOYMENT_KEY=
# Environment variables for the audio transcription model
AZURE_AUDIO_TRANSCRIPTION_ENDPOINT=
AZURE_AUDIO_TRANSCRIPTION_KEY=
AZURE_AUDIO_REGION=
# Environment variables for the Embedding deployment
AZURE_EMBEDDING_DEPLOYMENT_URL=
AZURE_EMBEDDING_MODEL=
AZURE_EMBEDDING_DEPLOYMENT_KEY=
# Cohere's embedding key since Azure's embedding is buggy and not production ready
COHERE_EMBEDDING_KEY=
# The URL the deployed site is hosted on
DEPLOYMENT_URL=