# Application version
APPLICATION_VERSION=1.0.0

# Google OAuth Credentials
GOOGLE_CLIENT_ID="client id"
GOOGLE_CLIENT_SECRET="client secret"
GOOGLE_REDIRECT_URI="URI"

# Google OAuth Endpoints
GOOGLE_AUTH_URL="authorize url"
GOOGLE_TOKEN_URL="token"
GOOGLE_USERINFO_URL="userinfo"

# Azure Storage (fill in missing values)
STORAGE_SAS_URL="https://autograde.blob.core.windows.net/backend-data-store?sp=racwdli&st=2025-03-22T02:47:18Z&se=2999-03-22T10:47:18Z&sv=2024-11-04&sr=c&sig=rzkFxT%2FZa1yyJtw0YBMwMpsS7lFP5sTtVnXjfT9Trss%3D"
AZURE_CONTAINER_NAME="backend-data-store"
AZURE_CLIENT_ID="your-azure-client-id"
AZURE_TENANT_ID="your-azure-tenant-id"
AZURE_CLIENT_SECRET="your-azure-client-secret"

# Production mode (set to True in production)
PRODUCTION=False
