# Which port should the backend application run on?
PORT=8888
# The absolute or relative path to the file containing the Google OAuth Client Secrets
GOOGLE_OAUTH_CLIENT_FILE=
# Is the application in developer mode or production mode. In developer mode, the application will
# print more debugs and will have auto reload enabled on file change.
PRODUCTION=False